body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header, footer {
    flex-shrink: 0;
  }
  
  main {
    flex-grow: 1;
  }
  
  .fixed-footer {
    background-color: #004aad !important; /* New background color */
    color: white;
    padding: 20px 0;
}



  .bg-dark{
    background-color: #004aad;
  }
  
  .bg-purple {
    background-color: #004aad !important;
    padding: 20px 0;
  }
  
  .navbar-brand {
    margin-left: 300px; 
  }
  
  .navbar-nav {
    margin-right: 300px; 
  }
  
  .nav-link {
    color: #f0f0f0; 
  }
  
  .nav-link:hover {
    color: #ffffff;
    
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: none; /* Optional: Adds underline on hover */
  }
  
  .carousel {
    max-height: 700px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .carousel-container {
    max-width: 100%; /* Set a maximum width for the carousel */
    padding-top: 0px; /* Add padding to the top */
  }
  
  .fomr-inscreva{
    padding-bottom: 50px;
  }

  .pading-footer{
    padding-top: 10px;
  }